#u268
{
	border-style: solid;
	border-color: #FF0000;
	background-color: #FFFFFF;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	position: fixed;
	border-width: 0px 0px 1px;
}

#menuu271
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
}

#u322
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u324-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 14px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u330
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u331-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 14px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u339
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u340-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 14px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u344
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u346-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 14px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u351
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u353-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 14px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u321,#u329,#u336,#u343,#u350,#u357
{
	background-color: transparent;
	position: relative;
}

#u360
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u362-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 14px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u322.MuseMenuActive #u324-4 p,#u330.MuseMenuActive #u331-4 p,#u339.MuseMenuActive #u340-4 p,#u344.MuseMenuActive #u346-4 p,#u351.MuseMenuActive #u353-4 p,#u360.MuseMenuActive #u362-4 p
{
	color: #FF0000;
	visibility: inherit;
	font-weight: normal;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u4870
{
	background-color: transparent;
	position: fixed;
}

.js #u268.ose_pre_init,.js #menuu271.ose_pre_init,.js #u4870.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u1858
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u1858_align_to_page
{
	position: relative;
}

#u1859-6
{
	background-color: transparent;
	color: #FFFFFF;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

