#u8741-4
{
	font-family: open-sans-n4, sans-serif;
}

#u8726-4
{
	font-family: open-sans-n4, sans-serif;
}

#u8706-4
{
	font-family: open-sans-n4, sans-serif;
}

#u8712-4
{
	font-family: open-sans-n4, sans-serif;
}

#u8720-4
{
	font-family: open-sans-n4, sans-serif;
}

#u8732-4
{
	font-family: open-sans-n4, sans-serif;
}

#u8745-6
{
	font-family: open-sans-n4, sans-serif;
}

#u2818-4,#u8761-4,#u8787-4,#u8793-4,#u8820-4,#u8796-4,#u8799-4,#u8878-2,#u8878-4,#u8878-5,#u8878-7,#u8895-4,#u8899-4,#u8903-4,#u8904-4,#u8907-4,#u8917-4,#u8971-4,#u8972-4,#u8973-4,#u8974-4,#u8975-4,#u8979-4,#u3277.PamphletThumbSelected #u3278-4 p,#u3278-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u3282-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u3280-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u9017-4,#u9072-4,#u9032-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u2819-6,#u8764-6,#u8775-4,#u8769-6,#u8770-4,#u8776-6,#u8782-4,#u8772-6,#u8781-4,#u8774-6,#u8788-6,#u8792-4,#u8821-4,#u8797-4,#u8800-4,#u8896-6,#u8900-6,#u8905-6,#u8906-6,#u8908-6,#u8982-6,#u9073-6,#u9033-4
{
	font-family: open-sans-n4, sans-serif;
}

#u9041-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u9042-4
{
	font-family: open-sans-n4, sans-serif;
}

#u9038-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u9039-4
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu9031_input,#widgetu9031_prompt,#widgetu9040_input,#widgetu9040_prompt,#widgetu9036_input,#widgetu9036_prompt
{
	font-family: open-sans, sans-serif;
}

#u9079-4,#u9081-4,#u9080-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u9082-15,#u9084-9,#u9083-5
{
	font-family: open-sans-n4, sans-serif;
}

