#u7960-4
{
	font-family: open-sans-n4, sans-serif;
}

#u7951-4
{
	font-family: open-sans-n4, sans-serif;
}

#u7944-4
{
	font-family: open-sans-n4, sans-serif;
}

#u7966-4
{
	font-family: open-sans-n4, sans-serif;
}

#u7973-4
{
	font-family: open-sans-n4, sans-serif;
}

#u7938-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1983-6
{
	font-family: open-sans-n4, sans-serif;
}

#u7379-4,#u7385-4,#u7418-4,#u7739-4,#u7711-4,#u7718-4,#u7715-4,#u7815-2,#u7815-4,#u7815-5,#u7815-7,#u7840-4,#u7854-4,#u7857-4,#u7852-4,#u7845-4,#u7884-4,#u7882-4,#u7886-4,#u7888-4,#u7890-4,#u7892-4,#u7985-4,#u7993.PamphletThumbSelected #u7994-4 p,#u7994-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u7996-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u7992-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u8539-4,#u8556-4,#u8564-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u7380-6,#u7393-6,#u7398-4,#u7397-6,#u7402-4,#u7401-6,#u7407-4,#u7406-6,#u7410-4,#u7409-6,#u7420-6,#u7738-4,#u7713-4,#u7719-4,#u7716-4,#u7843-6,#u7853-6,#u7851-6,#u7847-6,#u7846-6,#u7987-6,#u8558-6,#u8565-4
{
	font-family: open-sans-n4, sans-serif;
}

#u8573-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u8574-4
{
	font-family: open-sans-n4, sans-serif;
}

#u8569-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u8567-4
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu8562_input,#widgetu8562_prompt,#widgetu8572_input,#widgetu8572_prompt,#widgetu8566_input,#widgetu8566_prompt
{
	font-family: open-sans, sans-serif;
}

#u8590-4,#u8591-4,#u8592-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u8593-15,#u8594-5,#u8595-9
{
	font-family: open-sans-n4, sans-serif;
}

